@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0969da;
  --success: #21a948;
  --warning: #ffb708;
  --destructive: #da3633;

  --background: #ffffff;
  --foreground: #1d2229;
  --muted: #f6f8fa;
  --muted-foreground: #656d76;
  --border: #d1d9e0;

  --font-mono: "JetBrains Mono", monospace;
}

.dark {
  --background: #1d2229;
  --foreground: #ffffff;
  --muted: #2b2f36;
  --muted-foreground: #f6f8fa;
  --border: #5a5a5a;
}

@layer base {
  * {
    @apply border-border font-mono;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings:
      "liga" 1,
      "calt" 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *:focus {
    outline: none;
  }

  ::selection {
    background-color: var(--primary);
    color: var(--background);
  }
  ::selection .dark {
    color: var(--foreground);
  }
}
